body {
    background-color: #01020B;
}

#division {
    height: 100vh;
    width: 100vh;

position: absolute;

    display: flex;
    flex-direction: row;
}

#left {
    height: 100vh;
    width: 100vh;

    position: relative;

    background-color: #35418E;

    display: flex;
}

#photo {

    zoom: 0.5;
    height: 75vh;
    width: 75vh;

    position: absolute;
    top: 40vh;
    left:60vh;
}

#anagramFinder {
    font-family: "Gochi Hand";
    font-size: 10vh;
    color:#48c8ef;
    text-align: center;

    position: absolute;
    top: 60vh;
    left: 10vh;
}

#centerXleft {
    position: relative;

    display: flex;
    flex-direction: row;
}

#imputData {
    height: 10vh;
    width: 10vh;

position: absolute;
    top: 20vh;
    left: 30vh;

    display:flex;
    flex-direction: row;
}

#resultsDiv {
    top: 50vh;
    display: flex;
    justify-content: space-around;

    background-color:	#e76e54;

    font-size: 5vh;
    text-align: center;
    vertical-align: 50vh;
    color: cornsilk;

    height: 50vh;
    width: 100vh;
    position: absolute;

}

#textBox {
    font-size: 2vh;
}